# IDE folder
.idea

# Virtual environment folder
venv

# Dev mode package install data.
*.egg-info

# Will ignore all python compiles bytecode files
*.pyc
__pycache__/


agentxs/data_folder
database.db
.env

TODOS.md
